<!DOCTYPE html>
<html lang="en">
<style>
</style>
<head>
    <link rel="stylesheet" type="text/css" href="static/detailed_information.css">
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body style="color:white;text-align:center;">
    {% include "navbar.html" %}
    <div id="title">
        Detailed information
    </div>
<a>
    <img src="/static/fig1.png" alt="Plot" class="center"/>
    Your song with the highest:
    {% for item in song_stats %}
    <ul>
      <li>{{item}}</li>
    </ul>
{% endfor %}
</a>
</body>
</html>