<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/general_statistics.css">
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    {% include "navbar.html" %}
    <div id="title">
        Hi!
        This is your Spotify Wrapup made by us!
        
    </div>
{% block content %}

<div class="container-listening-time">
    <div class="total-listening-time">
        <div class="listening-time">
            <h3 class="listening-time-title">Total listening time</h3> <span class="total-time">{{ total_listening_time }} minutes</span> 
        </div>
    </div>
</div>

<div class="container-distinct-artists-songs">
    <div class="distinct-songs-artists">
        <div class="distinct-features">
            <h3 class="distinct-info">You've listened to </h3> <span class="unique-artists">{{ distinct_artists }} </span> <span class="artists-text"> unique artists </span> <span class="and"> and </span> <span class="unique-songs"> {{ distinct_songs }}</span> <span class="songs-text"> unique songs! </span>
        </div>
    </div>
</div>


<div class="container-favorites">
    <div class="favorite-artists-section">
        <div class="favorite-artists-title">Favorite Artists</div>
        <div class="favorite-artists">
            {% for (artist, image) in zip(favorite_artists["artist_name"][:5], fav_artist_link[:5]) %}
             <img src="{{image}}" alt="{{image}}" />
                <div class="favorite-artist">
                    <h3>{{ artist }}</h3>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="favorite-songs-section">
        <div class="favorite-songs-title">Favorite Songs</div>
        <div class="favorite-songs">
            {% for position in favorite_songs[:5].itertuples() %}
                <div class="favorite-song">
                    <h3>{{ position["song_name"] }} by {{ position["artist_name"] }} (played {{ position["count"] }} times)</h3>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


<div class="frame-morning">
        <img src="{{ url_for('static', filename='morning_frame.png') }}" width="1250px" height="700px">
</div>
<div class="frame-evening">
        <img src="{{ url_for('static', filename='evening_frame.png') }}" width="1250px" height="700px">
</div>


<div class="morning-block">
    <div class="favorite-morning-songs text-center">
        {% for position in favorite_morning[:5].itertuples() %}
            <div class="favorite-song">
                <h3>{{ position["song_name"] }} by {{ position["artist_name"] }}</h3>
            </div>
        {% endfor %}
    </div>
</div>

<div class="evening-block">
    <div class="favorite-evening-songs text-center">
        {% for position in favorite_evening[:5].itertuples() %}
        <div class="favorite-song">
            <h3>{{ position["song_name"] }} by {{ position["artist_name"] }}</h3>
        </div>
    {% endfor %}
    </div>
</div>

 <div class=morning-text>
     <h3> Your favorite morning songs</h3>
 </div>

 <div class=evening-text>
     <h3> Your favorite evening songs</h3>
 </div>


<div id="chart1"> </div> 

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script>
    var graph1 = {{ graph1JSON | safe }};
    Plotly.plot("chart1", graph1, {})
</script>

<div id="chart2"> </div> 

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script>
    var graph2 = {{ graph2JSON | safe }};
    Plotly.plot("chart2", graph2, {})
</script>
{% endblock %}   
</body>
</html>