<div class = "container">
    <nav class="navbar navbar-dark bg-dark">
        <form class="form-inline">
          <button class="navbar_toggler" type="button" name="general_statistics" onclick="location.href='/general_statistics'">General statistics</button>
          <button class="navbar_toggler" type="button" name="detailed_information" onclick="location.href='/detailed-info'">Detailed information</button>
          <button class="navbar_togller" type="button" name="recommendations" onclick="location.href='/recommendations'">Recommendations</button>
        </form>
    </nav>
</div>