<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/recommendations.css">
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    {% include "navbar.html" %}
<div id="title">
    Recommendations
</div>

<div class="recommender-keys">
    {% for key in recommender_results.keys() %}
    <h3>{{ key }}</h3>
    {% endfor %}
</div>

<div class="recommender-values">
    {% for value in recommender_results.values() %}
    <h3>{{ value }}</h3>
    {% endfor %}
</div>

<div class="container-favorites">
    <div class="favorite-artists-section">
        <div class="favorite-artists-title">Favorite Artists</div>
        <div class="favorite-artists">
            {% for (artist, image) in zip(favorite_artists["artist_name"][:5], fav_artist_link[:5]) %}
            <img src="{{image}}" alt="{{image}}" />
             <div class="favorite-artist">
                   <h3>{{ artist }}</h3>
             </div>
            {% endfor %}
        </div>
    </div>
</div>

</body>
</html>