@charset "UTF-8";

body {
    color: white;
    background: black;
    left: 50%;
    margin-top: 100px
    
}
ul {
  background: #000000;
  padding: 20px;
}
.navbar {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
  }
a {
    position: center;
    padding: 20px;
}
#title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button[name = "general_statistics"]{
    width: 130px;
    height: 30px;
    color: rgb(255, 255, 255);
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-style: solid;
}

button[name = "detailed_information"]{
    padding: auto;
    margin: auto;
    width: 130px;
    height: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(180, 91, 180);
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-style: solid;
}

button[name = "recommendations"]{
    width: 130px;
    height: 30px;
    color: rgb(255, 255, 255);
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-style: solid;
}

.frame {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    width: 80%;
    padding: 10px;
    border: 2px solid rgb(29, 185, 84);;
    text-align: center;
    margin: 0 auto;
 }
 
 span{
    display: inline-block;
    text-align: left;
    font-size: 18px;
    font-family: Futura;
    color: white;
 }

#chart3{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    top: 70%;
}

#chart4{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    top: 160%;
}

.highest-text{
    position: absolute;
    top:210%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-family: Futura;
    font-size: 35px;

}
.parent-container {
    position: absolute;
    top:240%;
    left: 60%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.features-container {
    text-align: left;
    margin-right: 50px;
}

.songs-artists-container {
    display: inline;
    text-align: left;
    margin-left: 50px;
    width: 70vh;

}

.feature, .song-text, .artist-text {
    color: white;
    font-family: Futura;
    font-size: 20px;
}

.feature{
    color: rgb(29, 185, 84);
    font-family: Futura;
    font-size: 20px;
}