@charset "UTF-8";

body {
    color: white;
    background: black;
    left: 50%;
    
}
.navbar {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
  }

  button[name = "general_statistics"]{
    width: 130px;
    height: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(180, 91, 180);
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-style: solid;
}

button[name = "detailed_information"]{
    padding: auto;
    margin: auto;
    width: 130px;
    height: 30px;
    color: rgb(255, 255, 255);
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-style: solid;
}

button[name = "recommendations"]{
    width: 130px;
    height: 30px;
    color: rgb(255, 255, 255);
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-style: solid;
}

#title {
    position: absolute;
    color: white;
    font-family: Futura;
    font-size: 16px;
    font-weight: bold;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-listening-time{
    position: absolute;
    overflow: hidden;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 1200px;
  }

.listening-time-title {
    font-family: Futura;
    font-size: 62px;
    display: inline;
    margin-right: 30px;
}

.total-time {
    color: rgb(29, 185, 84);
    font-family: Futura;
    font-size: 55px;
    font-weight: bold;
    display: inline;
}

.container-distinct-artists-songs {
    position: absolute;
    overflow: hidden;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 1200px;
}

.distinct-info {
    color: white;
    font-family: Futura;
    font-size: 35px;
    display: inline;
}

.unique-artists, .unique-songs {
    color: rgb(29, 185, 84);
    font-family: Futura;
    font-size: 35px;
    font-weight: bold;
    display: inline;
}

.and, .artists-text, .songs-text {
    color: white;
    font-family: Futura;
    font-size: 35px;
    font-weight: bold;
    display: inline;
}

.container-favorites {
    display: flex;
    position: absolute;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.favorite-artists-section {
    color: white;
    font-family: Futura;
    font-size: 16px;
    align-items: flex-end;
    flex-direction: column-reverse;
    margin-right: 150px;
}

.favorite-songs-section {
    color: white;
    font-family: Futura;
    font-size: 16px;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 150px;
}

.favorite-artists-title, .favorite-songs-title {
    color: rgb(226,114,91);
    font-family: Futura;
    font-size: 22px;
    font-weight: bold;
    align-items: flex-start;
}

.frame-morning {
    position: absolute;
    left: -15%;
    top: 90%;
}

.frame-evening {
    position: absolute;
    right: -15%;
    top: 90%;
}

.evening-block, .morning-block {
    color: white;
    font-family: Futura;
    font-size: 15px;
}

.morning-block {
    position: absolute;
    top: 115%;
    left: 12%;
}

.evening-block {
    position: absolute;
    top: 115%;
    left: 55%;
}

.morning-text{
    position: absolute;
    top: 95%;
    left: 15%;
    color: rgb(234, 203, 0);
    font-family: Futura;
    font-size: 20px;
}
.evening-text{
    position: absolute;
    top: 95%;
    right: 15%;
    color: rgba(244, 241, 241, 0.78);
    font-family: Futura;
    font-size: 20px;
}

.scope-text {
    position: absolute;
    display: inline;
    top: 170%; 
    left: 50%; 
    width: 100vw;
    transform: translate(-50%, -50%); 
    text-align: center; 
    font-family: Futura;
    font-size: 55px;
    font-weight: bold;
}

.in-details {
    display: inline;
    color:rgb(218, 119, 215);
}

.favorite-artist-listening-time {
    position: absolute;
    top: 180%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
}
    
.favorite-artist-fraction {
    position: absolute;
    top: 190%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
}

.favorite-artist-minutes, .fav-artist, .fraction-favorite, .fav-artist-minutes{
    color: rgb(29, 185, 84);
    font-family: Futura;
    font-size: 30px;
    font-weight: bold;
    display: inline;
}
.favorite-minutes-text, .favorite-fraction-text, .listening-time-text, .account-for, .for{
    color: white;
    font-family: Futura;
    font-size: 25px;
    font-weight: bold;
    display: inline;
}

.favorite-artist-title{
    color:white;
    font-family: Futura;
    font-size: 30px;
    font-weight: bold;
}

.name-favorite{
    color:rgb(218, 119, 215);
    font-family: Futura;
    font-size: 30px;
    font-weight: bold;
}

.favorite-artists-songs{
    position: absolute;
    overflow: hidden;
    top: 210%;
    left: 10%;
}

.favorite-artist-songs-list{
    color:white;
    font-family: Futura;
    font-size: 16px;
}

.favorite-artist-photo{
    position: absolute;
    top: 200%;
    left: 55%;
}  

#chart1{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    top: 300%;
}

#chart2{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    top: 370%;
}