@charset "UTF-8";

body {
  color: white;
  background: linear-gradient(to right, #232623, #686857);
}
  
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label,
input {
  display: block;
  margin-bottom: 15px;
}

  
  

  