@charset "UTF-8";

body {
    color: white;
    background: linear-gradient(to right, #232623, #686857);
    left: 50%;
    
}

.navbar {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
  }

#title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button[name = "general_statistics"]{
    width: 130px;
    height: 30px;
    color: rgb(255, 255, 255);
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-style: solid;
}

button[name = "detailed_information"]{
    padding: auto;
    margin: auto;
    width: 130px;
    height: 30px;
    color: rgb(255, 255, 255);
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-style: solid;
}

button[name = "recommendations"]{
    width: 130px;
    height: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(180, 91, 180);
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-style: solid;
}